/*.box {
  height: 100vh;
  background: url('../img/Backgraund.png') no-repeat;
  border: 2px solid red ;
}*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7; /*фоновый цвет*/

}

.page-wrapper {
min-width: 375px;
margin: auto;
}