/*.box {
  height: 100vh;
  background: url('../img/Backgraund.png') no-repeat;
  border: 2px solid red ;
}*/
* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7; 
  padding: 15px;
  font-family: "Inter", sans-serif;
     
}

.page-wrapper {
  overflow: hidden;
width: 375px;
margin: auto;
border-radius: 20px;
box-shadow: -8px -6px 41px 7px rgba(0, 0, 0, 0.31), 7px 9px 54px 6px rgba(0, 0, 0, 0.31); 
background: rgb(196, 196, 196);
}

.container {
  width: 300px;
  margin: auto;
}
.header {
  padding-top: 40px;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 145px;
  border-radius: 0px 0px 90px 90px;
  background:url('../img/Backgraund.png') no-repeat center/ cover;
}

.hello {
  color: rgb(9, 250, 34);
  
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
   
}

.hello-text {
  color: rgb(250, 234, 9);
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.user{
  margin-top: -80px;
  width: 300px;
  text-align: center;
  border-radius: 13px;
  box-shadow: 7px 9px 31px 4px rgba(0, 0, 0, 0.22), -9px 4px 20px 3px rgba(0, 0, 0, 0.17);
  background: rgb(255, 252, 252);
  padding-bottom: 21px;
}

.user-avatar {
  margin-top: -43px;
  object-fit: cover;
  border-radius: 50%;
  border: 0px solid #fffefe;
}

.user-name {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 4px;
}

.user-description {
  font-family: Inter;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

